<div class="emberEasterEgg" {{bind-attr style="easterEggStyle"}}>
    {{#each block in level}}
        {{#if block.isFloor }}
           <div class="gameBlock floorBlock"></div>
        {{/if}}
        {{# if block.isSnake }}
            <div class="gameBlock snakeBlock"></div>
        {{/if}}
        {{# if block.isPeanut }}
            <div class="gameBlock peanutBlock"></div>
        {{/if}}
    {{/each}}
    <div class="emberEasterEggScore">
        {{ gameStatus }}
    </div>
</div>

{{yield}}